# START WORK

In [380]:
import pandas as pd
import copy
import numpy as np
import pyperclip
from tqdm import tqdm

mesive = []
df_jd = pd.read_excel("data_JD.xlsx")
data = np.array(df_jd)

for kol in data:
    mesive.append(list(kol))

### View data

In [381]:
print(mesive[:10])
work_mesive = copy.deepcopy(mesive[:])

[['T21229', 'T19584'], ['TY7117', 'TY7176'], ['TY7144', 'TY7176'], ['TY7261', 'TY7176'], ['T116146', 'T116689'], ['T79713', 'T122099'], ['T200199', 'T209107'], ['T195633', 'T208697'], ['T200203', 'T208675'], ['T200198', 'T208513']]

### add data for first 100 element(or all)
###### need don't forget about error with same elements(1,2,1 it is don't end a while)

In [382]:
print("ADD START AND END COLUMNS")
for number in tqdm(range(len(mesive))):
    # change 0 on next 1 2 3 4 
    end_element = mesive[number][1]
    start_element = mesive[number][0]
    while 0 == 0:
        if (old_end_element == end_element)&(old_start_element == start_element):
            break
        old_end_element = end_element
        old_start_element = start_element
        for i, mes in enumerate(mesive):
            if (mesive[number][0] == end_element) | (mesive[number][1] == start_element): # error with (["A", "B"], ["B", "A"])
                continue
            if mes[0] == end_element:
                # change 0 on next 1 2 3 4
                work_mesive[number].append(mes[1])
                end_element = mes[1]
            if mes[1] == start_element:
                work_mesive[number].insert(0,mes[0])
                start_element = mes[0]

ADD START AND END COLUMNS

100%|█████████████████████████████████████████████████████████████████████████| 9212/9212 [00:18<00:00, 489.98it/s]

In [383]:
print(work_mesive[:10])

[['T21229', 'T19584', 'T40728', '24M7241'], ['TY7117', 'TY7176', 'TY8629', 'A-308ASAE25'], ['TY7144', 'TY7176', 'TY8629', 'A-308ASAE25'], ['TY7261', 'TY7176', 'TY8629', 'A-308ASAE25'], ['T116146', 'T116689', 'T234571', 'AT165110'], ['T79713', 'T122099', 'T127125', 'AT181236'], ['T200199', 'T209107', 'T279467', 'AT462611'], ['T195633', 'T208697', 'T279466', 'AT462612'], ['T200203', 'T208675', 'T279465', 'AT462613'], ['T200198', 'T208513', 'T279464', 'AT462614']]

In [384]:
print(work_mesive[0])

['T21229', 'T19584', 'T40728', '24M7241']

In [385]:
len(work_mesive)

9212

In [386]:
print(work_mesive[12])
print(work_mesive[87])
work_mes = list(copy.deepcopy(work_mesive))

['T56136', 'T62704', 'T70591', 'T76923', 'AT76489']
['T56136', 'T62704', 'T70591', 'T76923', 'AT76489']

In [387]:
# DELETE DUPLICATE
work_mes = []
seen = set()

print("DELETE DUPLICATE")
for val in tqdm(work_mesive):
    index = 0
    con_val = tuple(val)
    for hav_ele in work_mes:
        if hav_ele == val:
            index = 1 
    if index != 1:
        work_mes.append(val)

len(work_mes)
#len(pd.unique(work_mesive))

DELETE DUPLICATE

100%|████████████████████████████████████████████████████████████████████████| 9212/9212 [00:01<00:00, 4767.49it/s]

8339

### Write data

In [389]:
df_write = pd.DataFrame(work_mes)
df_write.to_excel("DATA.xlsx")